{% extends "emp_register/base.html" %}

{% comment %} {% load cache %}
{% cache 500 sample1 %} {% endcomment %}
{% block content %}
{% if user.is_authenticated %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Position</td>
            <td>Email</td>
            <td>Emp Code</td>
            <td>
                <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">Add New</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{employee.fullname}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.emp_code}}</td>
                <td>
                    <form action="{% url 'employee_update' employee.id %}" method="get" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-edit fa-lg"></i>
                        </button>
                    </form>
                    <form action="{% url 'employee_delete' employee.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div class="col-md-6 offset-md-3">
<h1>Log In</h1>
<br/>
<form action="{% url 'employee_list'%}" method="post">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">LogIn</button>
    </form>

</form>
</div>
{% endif %}

{% endblock content %}
{% comment %} {% endcache %} {% endcomment %}


